<!DOCTYPE html>
<html>
<head>
    <title>AI Sports Talent Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#1f4037">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <h2>AI Sports</h2>

    <div class="nav-links">
        <a href="/login_page">Login</a>
        <a href="/register_page">Register</a>
    </div>
</div>

<!-- HERO -->
<div class="hero">
    <h1>AI Sports Talent Assessment</h1>
    <p>Upload your performance and get instant feedback 🚀</p>
</div>
<script>
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/sw.js')
    .then(() => console.log("Service Worker Registered"));
}
</script>

</body>
</html>