<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-container">

    <h2>Login</h2>

    <form action="/login" method="POST">

        <!-- Username -->
        <div class="input-group">
            <span class="left-icon">👤</span>
            <input type="text" name="username" placeholder="Username" required>
        </div>

        <!-- Password -->
        <div class="input-group">
            <span class="left-icon">🔒</span>
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <!-- Options -->
        <div class="options">
            <label><input type="checkbox"> Remember Me</label>
            <a href="#">Forgot Password</a>
        </div>

        <!-- Button -->
        <button type="submit">Login</button>

    </form>

    <a href="/register_page">Don't have an account? Register</a>

</div>

</body>
</html>