<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div class="form-container">

    <h2>Register</h2>

    <form action="/register" method="POST">

        <div class="input-group">
            <i class="fa fa-user left-icon"></i>
            <input type="text" name="username" placeholder="Username" required>
        </div>

        <div class="input-group">
            <i class="fa fa-envelope left-icon"></i>
            <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-group">
            <i class="fa fa-lock left-icon"></i>
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <button type="submit">Register</button>

    </form>

    <a href="/login_page">Already have an account? Login</a>

</div>

</body>
</html>